<!--
Vera Mankongvanichkul

http://vmankongvanichkul.greenriverdev.com/it328/

-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

    <!--Custom Styles-->
    <link rel="stylesheet" href="styles/style.css">
    <title>Doggo Love Connection</title>
</head>
<body>

<nav class="navbar bg-light shadow-lg">
    <a class="navbar-brand">Doggo Love Connection</a>
</nav>