<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

    <link rel="stylesheet" href="styles/style.css">
    <title>Doggo Love Connection</title>
</head>
<body>

<nav class="navbar bg-light shadow-lg">
    <a class="navbar-brand">Doggo Love Connection</a>
</nav>
<div class="container-fluid py-4 px-5">
    <div class="container-fluid  py-4 px-5 shadow-lg" id="main">
        <div class="row">
            <div class="col-6">
                <h1 class="text-center mt-5">Doggo Love Connection</h1>
            </div>

            <div class="col-6">

            </div>
        </div>
    </div>
</div>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>