<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

    <link rel="stylesheet" href="styles/style.css">
    <title>Doggo Love Connection</title>
</head>
<body>

<nav class="navbar bg-light shadow-lg">
    <a class="navbar-brand">Doggo Love Connection</a>
</nav>
<div class="container-fluid py-4 px-5">
    <div class="container-fluid  py-4 px-5 shadow-lg" id="main">
        <div class="row">
            <div class="col-6">
                <h1 class="text-center mt-5 mb-4">Doggo Love Connection</h1>

                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat arcu et pretium ornare.
                    Phasellus magna est, tincidunt ac euismod ac, hendrerit a dolor. Maecenas eu odio eu nisi ornare
                    accumsan quis eget ex. Mauris mi tellus, porttitor eu nunc et, consectetur rhoncus metus.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis eu
                    feugiat elit. Morbi et suscipit magna. </h5>

                <h4 class="text-center mt-5 mb-4">Hear what our users are borking about!</h4>

                <hr>

                <h5 class="px-5 py-2">"My hooman found me a good boi to play with!" - Max</h5>

                <h5 class="px-5 py-2">"Other websites did me a heckin bamboozle! This site deserves all treats!" - Spot</h5>

                <h5 class="px-5 py-2">"I been on here since pupper, I boop with so many frenz now!" - Melo</h5>


                <hr>


            </div>


        </div>
    </div>
</div>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>