<!--
Vera Mankongvanichkul

http://vmankongvanichkul.greenriverdev.com/it328/

-->

<include href="views/header.html"/>

<div class="container-fluid py-4 px-5">
    <div class="container-fluid  py-4 px-5 shadow-lg" id="main">

        <h1 class="mt-5 mb-4">Personal Information</h1>

        <hr>

        <form action="profile" method="post">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <h6><label for="fname">First Name</label></h6>
                        <input type="text" id="fname" name="fname" class="form-control">
                    </div>

                    <div class="form-group">
                        <h6><label for="lname">Last Name</label></h6>
                        <input type="text" id="lname" name="lname" class="form-control">
                    </div>

                    <div class="form-group">
                        <h6><label for="age">Age</label></h6>
                        <input type="text" id="age" name="age" class="form-control">
                    </div>

                    <h6><label for="gender">Gender</label></h6>
                    <div class="form-group" id="gender">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <h6><label for="phone">Phone Number</label></h6>
                        <input type="text" id="phone" name="phone" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="border m-4 p-3 text-center" id="note">
                        <p><b>Note:</b> All information entered is protected by our <a href="">privacy policy</a>.
                            Profile information can only be viewed by others with your permission.</p>
                    </div>
                </div>
            </div>
            <!--Create button-->
            <div class="text-right">
                <a class="btn btn-info btn-lg" href="profile">Next ></a>
            </div>
        </form>

    </div>

</div>

<include href="views/footer.html"/>