<!--
Vera Mankongvanichkul

http://vmankongvanichkul.greenriverdev.com/it328/

-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

    <!--Custom Styles-->
    <link rel="stylesheet" href="../styles/style.css">
    <title>Doggo Love Connection</title>
</head>
<body>

<nav class="navbar bg-light shadow-lg">
    <a class="navbar-brand">Doggo Love Connection</a>
</nav>

<div class="container-fluid py-4 px-5">
    <div class="container-fluid  py-4 px-5 shadow-lg" id="main">

        <h1 class="mt-5 mb-4">Profile</h1>
        <form action="info.html" method="post">

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" id="state" name="state" class="form-control">
                    </div>
                    <label for="gender">Seeking</label>
                    <div class="form-group" id="gender">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="bio">Biography</label>
                        <textarea id="bio" name="bio" rows="6" class="form-control"></textarea>
                    </div>
                </div>

            </div>
            <!--Create button-->
            <div class="text-right mt-5">
                <a class="btn btn-info btn-lg" href="views/interests.html">Next ></a>
            </div>
        </form>

    </div>


</div>