<!--
Vera Mankongvanichkul
4/11/19
http://vmankongvanichkul.greenriverdev.com/it328/dating
Form for profile information
-->

<include href="views/header.html"/>

<div class="container-fluid py-4 px-5">
    <div class="container-fluid  py-4 px-5 shadow-lg" id="main">

        <h1 class="mt-5 mb-4">Profile</h1>
        <hr>
        <form action="interests" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <h6><label for="email">Email *</label></h6>
                        <check if="{{ isset(@errors['email']) }}">
                            <em class="text-danger">{{ @errors['email'] }}</em>
                        </check>
                        <input type="email" id="email" name="email" class="form-control"
                               value="{{ @email }}" required>
                    </div>
                    <div class="form-group">
                        <h6><label for="state">State</label></h6>
                        <select name="state" id="state" class="form-control custom-select">
                            <repeat group="{{ @states }}" value="{{ @state }}">
                                <option value="{{ @state }}"
                                <check if="{{isset(@SESSION.state) && @SESSION.state == @state }}">
                                    selected="selected"
                                </check>>
                                {{ @state }}
                                </option>
                            </repeat>
                        </select>
                    </div>
                    <h6><label for="gender">Seeking</label></h6>
                    <div class="form-group" id="gender">

                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="seeking" value="Male"
                                <check if="{{isset(@SESSION.seeking) && (@SESSION.seeking == 'Male') }}">
                                    checked="checked"
                                </check>>
                            Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="seeking" value="Female"
                                <check if="{{isset(@SESSION.seeking) && (@SESSION.seeking == 'Female') }}">
                                    checked="checked"
                                </check>>
                            Female</label>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <h6><label for="bio">Biography</label></h6>
                        <textarea id="bio" name="bio" rows="6" class="form-control"><check
                                if="isset(@SESSION.bio)">{{@SESSION.bio}}</check></textarea>
                    </div>
                </div>

            </div>
            <!--Create button-->
            <div class="text-right mt-5">
                <button type="submit" class="btn btn-info btn-lg">Next ></button>
            </div>
        </form>
    </div>
</div>

<include href="views/footer.html"/>