<include href="views/header.html"/>

<div class="container-fluid py-5 px-5">
    <div class="container py-4 px-5 shadow-lg" id="main">
        <div class="row">
            <div class="col-6 mt-3">
                <!-- all info from forms -->
                <ul class="list-group">
                    <li class="list-group-item">Name: {{ @SESSION.fname }} {{ @SESSION.lname }}</li>
                    <li class="list-group-item">Gender: {{ @SESSION.gender }}</li>
                    <li class="list-group-item">Age: {{ @SESSION.age }}</li>
                    <li class="list-group-item">Phone Number: {{ @SESSION.number }}</li>
                    <li class="list-group-item">Email: {{ @SESSION.email }}</li>
                    <li class="list-group-item">State: {{ @SESSION.state }}</li>
                    <li class="list-group-item">Seeking: {{ @SESSION.seeking }}</li>
                    <li class="list-group-item">Interests: {{ @SESSION.interests }}</li>
                </ul>

            </div>
            <!-- profile pic and bio -->
            <div class="col-6 text-center">

                <img src="images/dog.png" alt="doggos" id="dog">

                <h3 class="text-left mb-3">Biography</h3>

                <p>{{ @SESSION.bio }}</p>
            </div>


        </div>
        <!--Contact button-->
        <div class="text-center mt-5">
            <a class="btn btn-info btn-lg">Contact Me!</a>
        </div>
    </div>
</div>

<include href="views/footer.html"/>