<!--
Vera Mankongvanichkul
4/11/19
http://vmankongvanichkul.greenriverdev.com/it328/dating/views/summary.html
Displays all information gathered from forms
-->


<include href="views/header.html"/>

<div class="container-fluid py-5 px-5">
    <div class="container py-4 px-5 shadow-lg" id="main">
        <div class="row">
            <div class="col-6 mt-3">
                <!-- all info from forms -->
                <ul class="list-group">
                    <li class="list-group-item">Name: {{ @SESSION.memberType->getFname() }}
                        {{ @SESSION.memberType->getLname() }}</li>
                    <li class="list-group-item">Gender: {{ @SESSION.memberType->getGender() }}</li>
                    <li class="list-group-item">Age: {{ @SESSION.memberType->getAge() }}</li>
                    <li class="list-group-item">Phone: {{ @SESSION.memberType->getPhone() }}</li>
                    <li class="list-group-item">Email: {{ @SESSION.memberType->getEmail() }}</li>
                    <li class="list-group-item">State: {{ @SESSION.memberType->getState() }}</li>
                    <li class="list-group-item">Seeking: {{ @SESSION.memberType->getSeeking() }}</li>
                    <check if="{{ get_class(@SESSION.memberType) == 'PremiumMember' }}">
                        <li class="list-group-item">Interests:
                            <repeat group="{{ @SESSION.memberType->getIndoorInterests() }}" value="{{ @indoor }}">
                                *{{ @indoor }}
                            </repeat>
                            <repeat group="{{ @SESSION.memberType->getOutdoorInterests() }}" value="{{ @outdoor }}">
                                *{{ @outdoor }}
                            </repeat>
                        </li>
                    </check>
                </ul>

            </div>
            <!-- profile pic and bio -->
            <div class="col-6 text-center">

                <img src="images/dog.png" alt="doggos" id="dog">

                <h3 class="text-left mb-3">Biography</h3>

                <p>{{ @SESSION.bio }}</p>
            </div>
        </div>
        <!--Contact button-->
        <div class="text-center mt-5">
            <a class="btn btn-info btn-lg">Contact Me!</a>
        </div>
    </div>
</div>

<include href="views/footer.html"/>