/*
Vera Mankongvanichkul
4/11/19
http://vmankongvanichkul.greenriverdev.com/it328/dating/styles/style.css
CSS styles file
*/

h1, .navbar-brand{
    font-family: 'Caveat', cursive; !important;
    text-shadow: 2px 2px 8px black;
}

h1 {
    font-size: 3rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

img#doggos {
    width: 100%;
    border-radius: 10px;
}

img#dog {
    width:70%;
}

#main {
    border: solid 1px gray;
    border-radius: 10px;
}

#note {
    background-color: lightgray;
    border-radius: 10px;
}

